{% extends "layout.html" %}
{% block content %}

<style>
    .heading {
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .logo-div {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }

    .logo-div a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 25px;
        padding-left: 12%;
        margin-bottom: 5%;
        margin-right: 20px;
    }

    .logo-div a:hover {
        color: #5c8ec4;
        text-decoration: underline;
    }

    .logo-div img {
        height: 60px;
        margin-left: -30px;
        margin-right: 50px;
    }

    @media (max-width: 768px) {
        .heading {
            font-size: 40px;
            margin-top: 15px;
        }
    }

    @media (max-width: 480px) {
        .heading {
            font-size: 30px;
            margin-top: 10px;
            white-space: break-word;
        }

        .logo-div img{
            height: 50px;
            margin-right: 15px;
        }
        .logo-div a{
            font-size: 16.5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
</style>

<p class="heading">Questions/ Feedback/ Partnership</p>

<div class="logo-div">

    <a href="https://linkedin.com/company/discoverbioinsights"><img src="{{ url_for('static', filename='images/linkedin-logo.png') }}" alt="linkedin Logo">
       <div>https://linkedin.com/company/ discoverbioinsights</div> </a>

    <a href="mailto:contactus@discoverbioinsights.com"> <img src="{{ url_for('static', filename='images/email-logo.png') }}" alt="Email Logo">
        contactus@discoverbioinsights.com</a>
</div>

{% endblock %}