{% extends "layout.html" %}
{% block content %}
<style>
    .about-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .about-text {
        flex: 1;
        padding-left: 60px;
        padding-right: 60px;

    }

    .about-text p {
        font-size: 20px;
        font-weight: 500;
    }

    .about-image {
        text-align: center;
        font: 20px;
        font-weight: bold;
    }

    .about-image img {
        max-width: 100%;
        height: auto;
    }

    .about-text p,
    .about-text ul {
        margin: 0;
        padding: 0;
    }

    /* Center the "About Us" heading and make it bold */
    .about-heading {
        text-align: center;
        font-weight: bold;
    }

    .rounded-card {
        padding-top: 20px;
        border: 2px solid black;
        border-radius: 15%;
        width: 400px;
        height: 300px;
    }

    .card-heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-margin {
        margin-left: 100px;
    }

    .custom-margin1 {
        margin-left: 350px;
    }

    ul {
        text-align: left;
    }

    /* Responsive layout for mobile screens */
    @media (max-width: 988px) {
        .about-container {
            flex-direction: column;
            text-align: center;
        }

        .about-text,
        .about-image {
            padding: 0;
        }

        .about-text p,
        .about-text ul {
            margin: 10px;
            padding: 0px;
        }

        .rounded-card {
            width: 320px;
            height: 350px;
            border-radius: 10%;
        }

        .custom-margin,
        .custom-margin1 {
            margin-left: 0px;
        }
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="abt">
    <h2 class="about-heading">About Us</h2>
    <div class="about-container">
        <div class="about-image">
            <img src="{{ url_for('static', filename='images/image.png') }}" alt="About Image">
            <p>Discover Bioinsights</p>
        </div>
        <div class="about-text">
            <p>
                Discover BioInsights is a digital health company building a clinical decision support (CDS) platform to
                improve patient diagnosis and the quality of care. Our CDS platform will enable doctors, researchers,
                and life science and diagnostics companies to:
            <ul>
                <li>Better diagnose patients</li>
                <li>Perform population analytics using real-world evidence</li>
            </ul>
            </p>
            <br>
            <p>
                Our platform revolutionizes healthcare by:
            <ul>
                <li>Reducing treatment disparities</li>
                <li>Lowering costs</li>
                <li>Improving patient trust in doctors</li>
            </ul>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="about-heading">Products</h2>
    <div class="row">
        <div class="col-md-5 col-sm-12 text-center mb-4 custom-margin">
            <div class="rounded-card">
                <div class="card-heading">
                    <img src="{{ url_for('static', filename='images/analytic.png') }}" alt="logo" style="width: 15%;">
                    <h5 class="card-title">Evidence Based Diagnosis</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Clinical decision support platform that helps general physicians make better
                        decisions
                        by identifying similar patient profiles and providing analytics.<br><br><b>NOTE</b>: It does this by
                        using a repository of de-identified patient data.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 text-center mb-4">
            <div class="rounded-card">
                <div class="card-heading">
                    <img src="{{ url_for('static', filename='images/emergency.png') }}" alt="logo" style="width: 13%;">
                    <h5 class="card-title">Evidence Based Triaging</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">The Triage Platform helps emergency staff make better decisions about patient
                        care by:
                    <ul>
                        <li>Triaging patient</li>
                        <li>Identifying similar patient profiles</li>
                        <li>Providing analytics</li>
                    </ul><b>NOTE</b>: It does this by using a
                    repository of de-identified patient data.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 text-center mb-4 custom-margin1">
            <div class="rounded-card">
                <div class="card-heading">
                    <img src="{{ url_for('static', filename='images/data.png') }}" alt="logo" style="width: 10%;">
                    <h5 class="card-title">Evidence Based Analytics</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Provides immediate and compliant access to population data and rigorous
                        analytics. Helps government organizations, life science research companies, and business
                        development professionals make informed decisions.<br><br><b>NOTE</b>: It does this by using a
                        repository of de-identified patient data.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: 10vh; margin: 0;">
    <div>
        <button
            style="background-color: #007BFF; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px;">
            <a href="{{ url_for('platform') }}" style="text-decoration: none; color: #fff;">Getting Started</a>
        </button>
    </div>
</div>




{% endblock %}