{% extends "layout.html" %}
{% block content %}
<style>
    .about-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .about-text {
        flex: 1;
        /* padding-left: 60px;
        padding-right: 60px; */

    }

    .about-text p {
        font-size: 18px;
        /* font-weight: 500; */
    }

    .about-image {
        color: #0853a3;
        font-weight: bold;
        font-size: 44px;
        padding-right: 40px;
        padding-left: 40px;
        text-align: center;
        font: 20px;
    }

    .about-text p,
    .about-text ul {
        margin: 0;
        /* padding: 0; */
    }

    /* Center the "About Us" heading and make it bold */
    .about-heading {
        text-align: center;
        font-weight: bold;
    }

    .rounded-card {
        padding-top: 20px;
        border: 2px solid black;
        border-radius: 15%;
        width: 400px;
        height: 300px;
    }

    .card-heading {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-margin {
        margin-left: 100px;
    }

    .custom-margin1 {
        margin-left: 350px;
    }

    ol {
        text-align: left;
    }

    /* Responsive layout for mobile screens */
    @media (max-width: 988px) {
        .about-container {
            flex-direction: column;
            text-align: center;
        }

        .about-text,
        .about-image {
            padding: 0;
        }

        .about-text p,
        .about-text ul {
            margin: 10px;
            /* padding: 10px; */
        }

        .rounded-card {
            width: 320px;
            height: 350px;
            border-radius: 10%;
        }

        .custom-margin,
        .custom-margin1 {
            margin-left: 0px;
        }

        ol {
            text-align: left;
        }

        .rev {
            flex-direction: column-reverse;
        }
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="abt">
    <div class="about-container">
        <div class="about-image">
            THE <br> CHALLENGE
        </div>
        <div class="about-text">
            <p>Doctors frequently encounter challenges from the absence of clear guidelines for every clinical scenario.
                This challenge is multiplied when doctors must treat patients with multiple comorbidities.</p>
            <p><br> On an average
            <ul>
                <li>Three out of ten times, doctors are unsure of a diagnosis based on symptoms alone, leading to
                    referrals to specialists and additional tests.</li>
                <li>Research shows that only about 20% of patients are linked to a standard care guidelines and only 4%
                    are backed by high-quality evidence.</li>
            </ul>
            </p>
            <p><br>This predicament necessitates an approach that relies on intution when treating patients. There is a
                risk of misdiagnosis and a high chance of prescribing the wrong care pathway for the patient.</p>
        </div>
    </div>
</div>

<div style="border-bottom:5px solid #0853a3; width: 75%;"></div>

<div class="abt">
    <div class="about-container rev">
        <div class="about-text">
            <p>A patient had thyroid surgery and since then, suffered from post surgery complications with chest pain,
                dizziness and inflammation. The patient is not able to drive, walk or sit/stand for a long time. The
                doctor is unable to come to a conclusion about the diagnosis.</p>
        </div>
        <div class="about-image">
            REAL WORLD <br> SCENARIO
        </div>
    </div>
</div>

<div />
<div style="border-bottom:5px solid #0853a3; width: 75%;margin-left: 25%;"></div>

<div class="abt">
    <div class="about-container">
        <div class="about-image">
            ABOUT THE <br> COMPANY
        </div>
        <div class="about-text">
            <p>Discover Bioinsights is a digital health company that builds clinical Decision Support platform which
                solves these real world clinical problems and help doctors make better decisions. The platform uses real
                world deidentified patient data for similarity analysis and clinical insights.</p>
            <p> Our platform revolutionizes healthcare by:
            <ol>
                <li>Reducing treatment disparities.</li>
                <li>Lowering costs.</li>
                <li>Improving patient trust in doctors.</li>
            </ol>
            </p>
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 10vh; margin: 0;">
    <div>
        <button
            style="background-color: #0853a3; color: #fff; border: none; padding: 10px 20px; border-radius: 25px; font-size: 16px; font-weight: bold;">
            <a href="{{ url_for('platform') }}" style="text-decoration: none; color: #fff;">Try out our platform</a>
        </button>
    </div>
</div>




{% endblock %}