{% extends "layout.html" %}
{% block content %}

<style>
    .mt-5 {
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .glow-card {
        padding-bottom: 30px;
        box-shadow: 0 0 20px rgba(252, 251, 251, 0.8); /* Glowing effect */
    }

    /* Add padding between form fields */
    .form-group {
        margin-bottom: 15px;
    }

    /* Style the submit button */
    .btn-primary {
        padding: 10px 20px; /* You can adjust these values as needed */
    }
</style>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card glow-card bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">BMI Index</h2>
                    <div class="container">
                        <form action="{{ url_for('result') }}" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.Weight.label }}
                                {% if form.Weight.errors %}
                                {{ form.Weight(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Weight.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.Weight(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.Height.label }}
                                {% if form.Height.errors %}
                                {{ form.Height(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.Height.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.Height(class="form-control") }}
                                {% endif %}
                            </div>

                            <h2 class="card-title text-center m-4">Patient details</h2>
                            
                            <div class="form-group">
                                {{ form.symptoms.label }}
                                {% if form.symptoms.errors %}
                                {{ form.symptoms(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.symptoms.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.symptoms(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.medication.label }}
                                {% if form.medication.errors %}
                                {{ form.medication(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.medication.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.medication(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.pastmedical_history.label }}
                                {% if form.pastmedical_history.errors %}
                                {{ form.pastmedical_history(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.pastmedical_history.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.pastmedical_history(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.family_history.label }}
                                {% if form.family_history.errors %}
                                {{ form.family_history(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.family_history.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.family_history(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.year.label }}
                                {% if form.year.errors %}
                                {{ form.year(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.year.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.year(class="form-control") }}
                                {% endif %}
                            </div>

                            <div class="form-group mt-5">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
