{% extends "layout.html" %}
{% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .col-md-6 {
        flex: 0 0 100%;
        /* Change to full width on smaller screens */
        max-width: 100%;
        padding: 10px;
    }

    .form-control {
        font-size: 18px;
        box-shadow: 3px 3px 5px #888888;
    }

    .btn-toggle {
        font-size: 15px;
        color: #fff;
        background-color: #007bff;
        width: 50px;
        height: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-align: center;
        justify-content: center;
    }

    .card {
        border: none;
        margin: 10px 0;
        padding: 0 10px;
    }

    .blue-title {
        background: #00316380;
        color: white;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .right_space {
        padding-right: 30px;
    }

    .mt-5 {
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: -5px;
    }

    .form-group {
        margin: 10px 0;
    }

    .btn-submit {
        background-color: #007BFF;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .wt-ht {
        display: flex;
        align-items: center;
        /* Vertical center alignment */
    }

    .form-group label,
    .form-group .form-control {
        margin-right: 10px;
        /* Adjust the spacing as needed */
    }

    .fixed-div {
            position: fixed;
            left: 80%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
        }

    /* Add media queries for responsive design */
    @media (min-width: 768px) {
        .col-md-6 {
            flex: 0 0 50%;
        }
    }

    @media (max-width: 768px) {
        .fixed-div {
                display: flex;
                align-items: center;
                justify-content: center;
                position: static; 
                transform: none;
                left: auto; 
                top: auto;
            }
    }
</style>

<div class="container">
    <div class="fixed-div">
        <button
        style="background-color: #0853a3; color: #fff; border: none; padding: 10px 40px; border-radius: 25px; font-size: 16px; font-weight: bold;">
        <a href="https://www.linkedin.com/posts/discoverbioinsights_using-evidence-based-primary-care-platform-activity-7128963501607276545-hB1K?utm_source=share&utm_medium=member_desktop"
            style="text-decoration: none; color: #fff;">How it works? (Video)</a>
    </button>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form action="{{ url_for('result') }}" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <div class="card test-black">
                                <div class="blue-title">
                                    <h4 class="card-title text-center mb-0">Patient Details</h4>
                                </div>
                                <div class="form-group">
                                    {{ form.symptoms.label }}
                                    {{ form.symptoms(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.medication.label }}
                                    {{ form.medication(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.family_history.label }}
                                    {{ form.family_history(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.pastmedical_history.label }}
                                    {{ form.pastmedical_history(class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 left_space">
                            <div class="card text-black">
                                <div>
                                    <div class="blue-title">
                                        <h4 class="card-title text-left mb-0">BMI Index</h4>
                                    </div>
                                    <div class="form-group wt-ht">
                                        <label> {{ form.Weight.label }} </label>
                                        <div style="width: 70px;">{{ form.weight_units(class="btn-toggle") }}</div>
                                    </div>
                                    <div style="display: block;">{{ form.Weight(class="form-control") }}</div>
                                    <div class="form-group wt-ht">
                                        <label> {{ form.Height.label }}</label>

                                    </div>
                                    <div style="display: block;"> {{ form.Height(class="form-control") }}</div>
                                    <br>
                                    <div class="blue-title">
                                        <h5 class="card-title text-left mb-0">Input year frame for analysis</h5>
                                    </div>
                                    <div class="form-group ">
                                        {{ form.year.label }}
                                        {{ form.year(class="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.to_year.label }}
                                        {{ form.to_year(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form>
            {% if show_alert %}
            <p style="color: red; font-size: larger;">No records were found that match your patient profile</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}