{% extends "layout.html" %}
{% block content %}
<style>
    .rounded-card {
        padding-top: 20px;
        border: 2px solid black;
        border-radius: 10%;
        width: 400px;
    }

    .card-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* Center the text within the heading */
    }

    .about-heading {
        margin-bottom: 50px;
    }

    .black-text {
        color: black;
    }

    .black-text:hover {
        color: black; /* Set the hover color to black to maintain the same color */
        text-decoration: none; /* Remove underline on hover */
    }

    /* Responsive layout for mobile screens */
    @media (max-width: 988px) {
        .rounded-card {
            width: 350px;
            border-radius: 7%;
        }
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container text-center padding-top">
    <h2 class="about-heading">Select the Platform you want to use</h2>
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center mb-4">
            <a class="black-text" href="{{ url_for('patient_form') }}">
                <div class="rounded-card">
                    <div class="card-heading">
                        <img src="{{ url_for('static', filename='images/analytic.png') }}" alt="logo"
                            style="width: 15%;">
                        <h5 class="card-title">Evidence Based Clinical <br> Decision Support</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Clinical decision support platform that helps physicians make better
                            decisions
                            by identifying similar patient profiles and providing analytics.<br><b>NOTE</b>: It does
                            this by
                            using a repository of de-identified patient data.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-12 text-center mb-1">
            <div class="rounded-card">
                <a class="black-text" href="{{ url_for('coming_soon') }}">
                    <div class="card-heading">
                        <img src="{{ url_for('static', filename='images/data.png') }}" alt="logo" style="width: 10%;">
                        <h5 class="card-title">Population Analytics</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Provides immediate and compliant access to population data and rigorous
                            analytics. Helps government organizations, life science research companies, and business
                            development professionals make informed decisions.<br><b>NOTE</b>: It does this by using a
                            repository of de-identified patient data.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}